{% block footer %}
{% endblock %}
{% block scripts %}
{{ js('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}
{{ js('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js') }}
<script>$('.ui.menu .item:first-child').popup({
    popup : $('#loginPopup'),
    on : 'click'
});</script>
{% endblock %}
<html lang="fr">

<meta charset="UTF-8">
<style>
footer {position: absolute; bottom: 0; left: 0; right: 0}

</style>

<footer>
 <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Mes Qcm</h4>
            <div class="ui inverted link list">

            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Mes Résultats</h4>
            <div class="ui inverted link list">

            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Mes Groupes</h4>
            <div class="ui inverted link list">

            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Plus</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Commentaires</a>
              <a class="item" href="#root">Contact</a>

            </div>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img class="ui centered tiny image"  alt="logo" src="/public/assets/img/logo.png" />
        <div class="ui horizontal inverted small divided link list">

          <a class="item" href="#root">Terms and Conditions</a>
          <a class="item" href="#root">@MyQcm</a>
        </div>
      </div>
    </div>



</footer>


</body>

</html>