{% block footer %}
{% endblock %}
{% block scripts %}
{{ js('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}
{{ js('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js') }}
<script>$('.ui.menu .item:first-child').popup({
    popup : $('#loginPopup'),
    on : 'click'
});</script>
{% endblock %}
<html lang="fr">

<meta charset="UTF-8">
<style>
footer {position: absolute; bottom: 0; left: 0; right: 0; text-align:center; background-color: black;}

</style>

<footer>
 
<br />
        <div class="ui inverted section "></div>
        <img class="ui centered tiny image"  alt="logo" src="/public/assets/img/logo.png" />
        <div class="ui horizontal inverted small divided link list">

          <a class="item" href="#root">Terms and Conditions</a>
          <a class="item" href="#root">@MyQcm</a>
        </div>
    




</footer>


</body>

</html>