<html lang="fr">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

<style>
body {font-family: "Allerta Stencil", sans-serif}
.mySlides {display: none}

.ui.segment {
	margin: 0rem 0;
    margin-top: 0rem;
    margin-right: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
}

.itembutton{

   		position:relative;
		left : 60%;
		margin-left: 5px;
		
		}

.ui.menu .item>img:not(.ui){

	width: 6em;

}

.ui.input {

margin-left: 940px;
color: white; 
margin-top: 6em;

}





</style>


<body>
<!-- Navbar -->
<div class="ui inverted menu segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" href="http://127.0.0.1:8090/AccueilController/index">
	<img alt="logo"
		src="/public/assets/img/logo.png"
		
	/>
	</a>
	
    <a class="item ">Mes QCM </a>
    
    <a class="item" href="http://127.0.0.1:8090/FormsController/index">Mes Résultats </a>
    
    <a class="item">Mes Groupes </a>
 
  	<a class="ui pointing dropdown link item">
    <span class="text">Plus</span>
    <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Commentaires</div>
          <div class="item">Contact</div>          
        </div>
        </a>
	</div>
	
	
	  <div class="itembutton">
    <div class="ui primary button">S'inscrire</div>
  </div>
  <div class="itembutton">
  
    <div class="ui button">Connexion 
    </div>
    


</div>
		
      <div class="ui transparent inverted icon input">
        <input type="text" placeholder="Recherche de mot(s) clef(s)">
        <i class="search link icon"></i>
        
      </div>

    
    
  </div>
  

</div>

 {{ script_foot | raw}}


</body>


<!--  
<div class="ui placeholder segment">
  		<div class="ui two column very relaxed stackable grid">
    	<div class="column">
      	<div class="ui form">
        	<div class="field">
          	<label>Username</label>
          	<div class="ui left icon input">
            	<input type="text" placeholder="Username">
            	<i class="user icon"></i>
          	</div>
        	</div>
        	<div class="field">
          	<label>Password</label>
          	<div class="ui left icon input">
            	<input type="password">
            	<i class="lock icon"></i>
         	 </div>
        	</div>
        	<div class="ui blue submit button">Login</div>
      	</div>
    	</div>
    	<div class="middle aligned column">
      	<div class="ui big button"><i class="signup icon"></i> S'inscrire </div>
    	</div>
  	</div>
  	<div class="ui vertical divider">Ou </div>
	</div> </div>




</body>
</html>


    <!-- <button class="w3-padding-large w3-button" title="More">Plus <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Commentaires</a>
        <a href="#" class="w3-bar-item w3-button">Contact</a> -->
        
 {{ script_foot | raw}}