<html lang="fr">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Allerta Stencil", sans-serif}
.mySlides {display: none}



</style>
<body>

<a href="http://127.0.0.1:8090/AccueilController/index">
	<img alt="logo"
		src="/public/assets/img/logo.png"
		width="120"
		height="75"
		/>
</a>


<!-- Navbar -->
<div class="w3-top">
	
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a class="w3-bar-item button " href="http://127.0.0.1:8090/AccueilController/index">
	<img alt="logo"
		src="/public/assets/img/logo.png"
		width="120"
		height="120"
		border="2"
		/>
	</a>
	
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small ">Mes QCM</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mes Résultats</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mes groupes</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Plus <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Commentaires</a>
        <a href="#" class="w3-bar-item w3-button">Contact</a>
      </div>
     
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>




</body>
</html>
